.banner-top {
  background-image: url("https://ik.imagekit.io/i3divn77k/Book%20Recom/WhatsApp%20Image%202023-12-30%20at%2018.54.34_caec1969.jpg?updatedAt=1704136935862");

  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 60vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 60vh;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.717));
    pointer-events: none;
  }
}

.banner-head :nth-child(1) {
  font-size: 3rem;
  color: white;
  position: relative;
  text-align: center;
  font-weight: 600;
}
.banner-head :nth-child(2) {
  font-size: 1rem;
  color: white;
  position: relative;
  text-align: center;
  font-weight: 600;
  width: 60%;
  margin: auto;
}
